.segMentedBtnContainer{
    display: flex;
    gap: 1rem ;

    & > div {
        flex-grow: 1;
    }
}

.listedBtns{
    display: flex;

    // flex-direction: column;

    font-size: 1rem;
    border-radius: 25px;
    margin-top: 2rem;
    gap: var(--gap);
    font-weight: 500;

}

.subjectSection{
    width: 100%;
    background-color: var(--bg-clr-100);

    border-radius: inherit;
    padding: var(--gap);
    display: flex;
    gap: inherit;
}

.paperSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: inherit;
}

.chapterSection{
    border-radius: 143rem;
    padding: var(--gap);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    background-color: var(--atv-bg-clr-10);

    transition: background-color .25s ease-out, transform .25s ease-out;
    border: none;
    cursor: pointer;
    *{
        transform: translateX(-12px);
    }

    span{
        opacity: 0;
        translate: 0 5px;
        transition: opacity .25s ease-out, translate .25s ease-out;
    }

    &:hover{
        background-color: var(--atv-bg-clr-100);
        color: var(--font-clr-active);

    }

    &.active{
        background-color: var(--atv-bg-clr);
        color: var(--font-clr-active);
        font-weight: 600;

        &:hover{
            background-color: var(--atv-bg-clr);
        }

        span{
            opacity: 1;
            translate: 0 0;
        }

        *{
            transform: translate(0);
        }
    }
}