.container{
    height: 100% !important;
    cursor: pointer ;
    position: relative;




    canvas{
        width: 100% !important;
        height: 100% !important;
    }


    div{
        width: var(--canvas-width);
        aspect-ratio: 2/1;
        margin-inline: auto ;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        position: relative;
    }
}